{% extends "gallery/base.html" %} {% block title %}Edit Tags{% endblock %} 
{% block content %}
  <div style="display:flex; justify-content:space-between; align-items:center; gap:10px;">
    <h2 style="margin:0;">Edit Tags</h2>
    <a class="btn" href="{% url 'photo_detail' photo.id %}?next={{ next_url|urlencode }}">Back</a>
  </div>

  <div class="card" style="margin-top:12px;">
    <div class="pad">
      <div class="muted">Photo</div>
      <div style="font-weight:700;">{{ photo.title|default:photo.id }}</div>
    </div>
    <img class="thumb" style="height:auto; max-height:50vh;" src="{{ photo.image_web }}" alt="Photo">
  </div>

  <form method="post" class="card" style="margin-top:12px;">
    <input type="hidden" name="next" value="{{ next_url }}">
  {% csrf_token %}
  <div class="pad">
    <div class="muted" style="margin-bottom:8px;">Create a new tag:</div>
    {{ create_form.name }}
    <button class="btn" type="submit" name="create_tag" value="1" style="margin-top:10px;">
      Create tag
    </button>
  </div>
</form>

  <form method="post" class="card" style="margin-top:12px;">
    <input type="hidden" name="next" value="{{ next_url }}">
    {% csrf_token %}
    <div class="pad">
      <div class="muted" style="margin-bottom:8px;">Select tags:</div>

      <div class="tag-grid">
             {{ form.tags }}
    </div>
    </div>


      <div style="display:flex; gap:10px; margin-top: 4px; margin-bottom: 5px; margin-left: 3px;">
        <button class="btn" type="submit">Save tags</button>
        <a class="btn" href="{% url 'photo_detail' photo.id %}?next={{ next_url|urlencode }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
