{% extends "gallery/base.html" %} {% block title %}Photo{% endblock %} 
{% block content %}
{% if next_url %}
<div style="margin-top:5px ;margin-left: 3px;">
  <a href="{{ next_url }}">← Back to results</a>
  {% else %}
  <a href="{% url 'home' %}">← Home</a>
  {% endif %}
</div>


<div style="height: 12px"></div>

<div class="stack">
  <div class="photo-stage">
  <img class="stage-img" src="{{ photo.image_web }}" alt="Photo">
  </div>
</div>

<form method="post" action="{% url 'toggle_favorite' photo.id %}">
  {% csrf_token %}
  <button class="btn" type="submit" style="margin-top: 5px">
    <input type="hidden" name="next" value="{{ next_url }}">
    {% if is_favorited %}★ Unfavorite{% else %}☆ Favorite{% endif %}
  </button>
</form>

<div class="card">
{% if messages or create_form.name.errors %}
      <div class="pad">

        {% for message in messages %}
          <div class="msg msg-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}

        {% for error in create_form.name.errors %}
          <div class="msg msg-error">
            {{ error }}
          </div>
        {% endfor %}

      </div>
{% endif %}

</div>
<div class="photo-detail">
<div class="card" style="margin-top: 5px; margin-bottom: 5px;">
  <div class="pad">

    <div style="display: flex; align-items: center;justify-content: space-between;
      gap: 10px; max-width: fit-content;">
      <!-- Filename / reference name -->
      <div style="font-weight: 400; font-size: 14px;">
        {{ photo.title }}
      </div>

    {% if perms.gallery.can_modify_tags %}
        <a class="btn edit_but"
            href="{% url 'edit_photo_tags' photo.id %}?next={{ next_url|urlencode }}">
          Edit tags
        </a>
{% endif %}

    </div>

  </div>


    <div style="margin-bottom: 15px; margin-left: 12px;"> 
      <!-- Tags -->
      {% if photo.tags.all %}
      <span>
        {% for tag in photo.tags.all %}
        <span class="tag">{{ tag.name }}{% if not forloop.last %} • {% endif %} </span>
      </span>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="pad">
      <h3 style="margin-top: 0">Comments</h3>

      <form method="post" class="stack">
        {% csrf_token %}
        <textarea name="text" placeholder="Add a comment… (be kind)"></textarea>
        <button class="btn" type="submit">Post comment</button>
      </form>

      <div style="height: 14px"></div>

      {% if comments %}
      <div class="stack">
        {% for c in comments %}
        <div style="border-top: 1px solid #eee; padding-top: 10px">
          <div style="font-weight: 600">{{ c.user.username }}</div>
          <div class="muted">{{ c.created_at|date:"M j, Y g:i A" }}</div>
          <div style="margin-top: 6px">{{ c.text|linebreaksbr }}</div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="muted">No comments yet.</p>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>
